<div class="row align-items-center justify-content-center">
    <div class="footer-container col-10 col-md-10 col-lg-10 col-xl-10">
        <footer class="footer footer-center-container mr-auto mt-1 pt-0">
            <p class="px-4"><a href="/campgrounds" class="footer-title">CampWI <i class="fas fa-tree"></i>
                    2020</a> <span class="footer-links-hide-small-screen d-none d-sm-inline">| <a href="/campgrounds"><i
                            class="fas fa-campground"></i> All
                        Campgrounds</a>
                    | <a href="/campgrounds/new"><i class="fas fa-map-marked-alt"></i> New Campground</i></a></span>
            </p>
        </footer>
    </div>
</div>

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<!-- PopperJS CDN -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<!-- BootstrapJS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

<!-- Custom DOM Manipulation for Navbar -->
<script>
    const mainNavbar = document.querySelector("#mainNavbar");
    function navbarAnimate(scrollPosition) {
        mainNavbar.classList.toggle("scrolled", scrollPosition > mainNavbar.offsetHeight);
    };

    window.addEventListener("scroll", () => {
        let windowScrollPos = window.scrollY;
        window.requestAnimationFrame(() => { navbarAnimate(windowScrollPos) })
    });
</script>

</body>

</html>