<%- include("./partials/header") %>

<div class="row login-page-top">
    <div class="wrapper mb-1">
        <div class="card login-card">
            <div class="card-body mx-1">
                <form action="/login" method="POST" class="form-signin">
                    <h1 class="text-center login-header mb-3">Login Here!</h1>
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input type="text" id="inputUsername" class="form-control mb-2" name="username"
                        aria-label="username" placeholder="Username" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" name="password" aria-label="password"
                        placeholder="Password" required>
                    <button class="btn btn-lg btn-block mt-3" type="submit">Login <i class="fas fa-sign-in-alt"></i>
                    </button>
                </form>
                <div class="row align-items-center justify-content-center mt-4">
                    <a class="btn btn-sm mr-1" href="/campgrounds"><i class="fas fa-hand-point-left"></i> Back to all
                        campgrounds</a>
                    <a class="btn btn-sm ml-1" href="/forgot">Forgot your password?</a>
                </div>
            </div>
            <div class="card-heading"></div>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>